.main__carritoContainer{
    margin: $margin-mobile-container; 
    padding-bottom: 10%;

}

main#carrito{
    h1{/* Titulos H1 */
        font: $h1-mobile;
        padding-bottom: 5%;
        margin: 20px 0 ;
        color: black;
        text-align: center;
        width: 100%;
    }
}

/* lista de productos en carrito */
.tablaCarrito{
    width:100%;
    font-size: smaller;
    .cabezaLista{
        display: flex;
        justify-content: space-between;
        padding:5px 0;
        border-bottom: 2px solid $primary-color;
        p{
            display: flex;
            justify-content: center;
            width: 14%;
        }        
    }
    .cuerpoLista{
        .prodCarrito{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid $btn-lightGreen-hoven;
            .cantidadProdCarrito{
                display: flex;
                justify-content: center;
                align-items: center;
                .btn{
                    border-radius: 20px;
                    border-color: $primary-color;
                    font-size: medium;
                    &:active{
                        background-color: $primary-color;
                        color: white;
                    }
                }
                span{
                    font-size: medium;
                    margin: 6%;
                }
            }
            div{
                display: flex;
                justify-content: center;
                width: 14%;
                margin: 0;
                position: relative;
                .imgCarrito{
                    width: 5vw;
                } 
                i{
                    cursor: pointer;
                }
                span#saleTag{
                    position: absolute;
                    bottom: 0;
                    right: 25%;
                    background-color: black;
                    color: white;
                    border-radius: 15px;
                    padding: 2px;
                }
            }        
            p{
                display: flex;
                justify-content: center;
                width: 14%;
                margin: 0;
                span#precioOriginal{
                    font-size: small;
                    text-decoration: line-through;
                    color: $primary-color;
                    padding-right: 2%;
                }
            }
        }

        .carritoVacio{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5%;
            font-size: larger;
            font-weight: 600;
        } 
    }

    .pieLista{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        margin-right: 20px;
        .btnVaciarCarrito{
            width: 10%;
            padding: 5px 0;
            margin: 1% 0;
            border-radius: 30px;
            background-color: white;
            color: $primary-color;
            font-weight:600;
            cursor: pointer;
            &:hover{
                background-color: $primary-color;
                color: white;
            }   
        }
    }
}

/* Botones */
.botonesCarrito{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .btn{
        width: 30%;
        padding: 15px 0;
        margin: 1% 0;
        border-radius: 30px;
        background-color: $primary-color;
        color: white;
        font-weight:600;
        cursor: pointer;
        &:hover{
            background-color: $btn-darkGreen-hoven;
        }        
    }

}